@import 'src/services/style/Shadows';
@import 'src/services/style/Colors';
@import 'src/services/style/Fonts';

.title_likes {
  @extend %font-size-sm;
  color: $text-color;
  .title_like {
    vertical-align: middle;
    height: 14.23486328125px;
    width: 15.999969482421875px;
    top: 0.875px;
  }
}

button {
  background: none;
}
:disabled {
  cursor: auto;
}
